/* Form */

form label {
    display: block;
    font-weight: 400;
    color: #363636;
    margin: 0 0 1em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: #f4f4f4;
    padding: 0.75em;
    width: 100%;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    background: #f8f8f8;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 1.35em;
}

form ::-webkit-input-placeholder {
    color: #999;
}

form :-moz-placeholder {
    color: #999;
}

form ::-moz-placeholder {
    color: #999;
}

form :-ms-input-placeholder {
    color: #999;
}
