/* Table */

table {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px #f4f4f4;
}

table.default td {
    padding: 0.5em 1em 0.5em 1em;
}

table.default th {
    text-align: left;
    font-weight: 400;
    padding: 0.5em 1em 0.5em 1em;
}

table.default thead {
    border-bottom: solid 2px #f4f4f4;
}